@{
    Layout = "_LayoutAdmin";
}

@model IEnumerable<Eticaret12.ViewModels.UserRole>

@{
    ViewData["Title"] = "Kullanicilar";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="col-md-10">



<nav> 
    <ul>
        <li>
            <a asp-action="KullaniciEkle">
                <i class="fa fa-user-plus"></i>Yeni Kullanıcı Ekle</a>
            </li> 
          <li>
              <a asp-action="KullaniciRolAta">
                  <i class="fa fa-user-cog"></i>Kullanıcıya Rol Ata 
               </a>
        </li>
            <li>
                <a asp-action="KullaniciOnay">
                    <i class="fa fa-user-cog"></i> Kullanıcı Onay 
                </a>
            </li>
     </ul>
 </nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolName)
            </th>
            <th></th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolName)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
           @*  <td>
                 |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
</div>